@import url(https://fonts.googleapis.com/css2?family=Inter);

body {
  padding-left: 1vw;
  max-width: 700px;
}

* {
  font-family: "Inter", sans-serif, arial;
}

li {
  list-style: none;
  text-decoration: none;
}

a {
  text-decoration: none;
  color: #5c80bc;
}

iframe {
  height: 95vh;
  width: 95vw;
}

.snarky-comment {
  font-size: small;
  font-style: italic;
  margin-top: -20px;
}

.bullet-note {
  font-size: small;
  font-style: italic;
}
